<!DOCTYPE html>
<html>

<head>
    <title>ToDoリスト</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <!-- node.jsで使用したconsoleタグは、localhost上のデベロッパーツールには表示されず、ターミナルに表示される -->
    <div class="header">
        <h1 class="header-title">ToDoリスト</h1>
    </div>